* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* common */

.content {
  width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  width: 118px;
  padding: 17px 16px;
  background: #171100;
  border-radius: 24.5px;
  color: #fff;
  text-align: center;
}

/* header */
.header {
  padding-top: 30px;
  background: #fffcf4;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  margin-left: auto;
}

.navbar ul li a {
  margin-left: 40px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #5f5b53;
}

.navbar ul li:first-child a {
  position: relative;
  font-weight: 600;
  font-size: 1.6rem;
  color: #171100;
}
.navbar ul li:first-child a::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.navbar ul li a:hover {
  text-shadow: 1px 0 0;
  color: #171100;
}

.navbar .btn-sign {
  width: 144px;
  margin-left: 70px;
}
